@font-face {
    font-family: 'rajesh';
    src: url('./BespokeStencil_Complete/Fonts/WEB/fonts/BespokeStencil-Extrabold.woff')format('woff'),
     url('./BespokeStencil_Complete/Fonts/WEB/fonts/BespokeStencil-BoldItalic.woff2')format('woff2');

}

body {
    background-color: orangered;
}

.con {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f {
    color: rgb(234, 234, 241);
    font-size: 10rem;
    font-family: "rajesh", cursive;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.f1 {
    color: rgb(234, 234, 241);
    font-size: 10rem;
    font-family: "rajesh", cursive;
    text-align: center;
    font-style: italic;
    font-weight: lighter;

}