body{
    background-color: rgb(37, 102, 102);
}
.con1{
    height: 70vh;
    width: 100vh;
   position: relative;
background-color: white;
   margin-left: 450px;
   margin-top: 100px;
   border-radius: 30px;
}
.box{
   
    box-shadow: 3px 3px 5px white;
    border-radius: 25px;
    height: 560px;
    width: 780px;
     margin-left: 30px;
    margin-top: 100px;
    backdrop-filter: blur(10px);
}
.ball{
    height: 120px;
    width: 120px;
   
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    backdrop-filter: blur(80px);    
}
.ball1{
    position: absolute;
   z-index: 100px;
   bottom: 100px;
   left: 50px;
   background-color: yellow;
   box-shadow: 3px 3px 10px yellow;
   animation: ballone 4s ease infinite;
}

.ball2{
    position: absolute;
   z-index: 100px;
   top: 150px;
   left: 550px;
   background-color: rgb(59, 114, 114);
   box-shadow: 3px 3px 10px rgb(59, 114, 114);
   animation: ballone2 5s ease infinite;
}
.ball3{
    position: absolute;
  background-color: palevioletred;
  box-shadow: 3px 3px 10px palevioletred;
 
   top: 50px;
   left: 150px;
   animation: ballone3 3s ease infinite;    
}
.ball4{
    position: absolute;
  background-color: rgb(84, 10, 202);
  box-shadow: 3px 3px 10px rgb(66, 5, 197);
 
   z-index: 100px;
   bottom: 250px;
   left: 550px;
   animation: ballone4 3s ease infinite;    
}
.ball5{
    position: absolute;
  background-color: rgb(236, 27, 8);
  box-shadow: 3px 3px 10px rgb(197, 34, 5);
 
   top: 50px;
   left: 350px;
   animation: ballone5 5s ease infinite;    
}
.ball6{
    position: absolute;
  background-color: rgb(7, 86, 159);
  box-shadow: 3px 3px 10px rgb(5, 127, 197);
 
   top: 80px;
   left: 250px;
   animation: ballone6 2s ease infinite;    
}
.ball7{
    position: absolute;
   z-index: 100px;
   bottom: 100px;
   left: 600px;
   background-color: rgb(188, 181, 189);
   box-shadow: 3px 3px 10px yellow;
   animation: ballone7 3s ease infinite;
}
@keyframes ballone{
    0%{
        transform: translateX(0px);
        box-shadow: 3px 3px 5px yellow;

    }
    50%{
       transform: translateX(500px);
       box-shadow: 3px 3px 5px yellow;
    }
}
@keyframes ballone2{
    0%{
        transform: translateY(0px);
        

    }
    50%{
       transform: translateY(250px);
    }
    0%{
        transform: translateY(0px);
        

    }
}
@keyframes ballone3{
    0%{
        transform: translateY(0px);
    }
    50%{
       transform: translateY(300px);
    }
    
}
@keyframes ballone4{
    0%{
        transform: translateX(0px);
    }
    50%{
       transform: translateX(-300px);
    }
    
}
@keyframes ballone5{
    0%{
        transform: translateX(0px);
    }
    50%{
       transform: translateX(300px);
    }
    
}
@keyframes ballone6{
    0%{
        transform: translateX(0px);
    }
    50%{
       transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
    
}
@keyframes ballone7{
    0%{
        transform: translateX(0px);
        

    }
    50%{
       transform: translateX(-500px);
       
    }
}
img{
    height: 350px;
    width: 350px; 
    background-color: rgb(145, 188, 173);
    border-radius: 50%;
    box-shadow: 20px 20px  rgb(114, 157, 114);
   transition: transform 3s ease 0s;

}

.pic :hover{
    transform: rotate(360deg);
    background-color: white;
     box-shadow: 20px 20px white ;
}
.t{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    
}
