body{
    margin: 10px;
    margin-top: 10px;
    
    height: 150vh;
    background-image: url(./clouds-4215608_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#pic img{
    height: 100px;
    border: 1px solid;
    border-radius: 70%;
    margin-left:50px ;
   
   
}
ul{
  
  margin-top: 40px;
  margin-right: 3px;
  

    
}
li{
    list-style-type: none;
    border-radius: 40px;
    display: inline;
    padding: 10px;
}
li:hover{
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}

.con1{ 
    position: sticky;
   margin-left: 0px;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   position: sticky;
   top: 0;
   backdrop-filter: blur(50px);

}
h2{
    margin-top: 40px;
    color: aliceblue;
    margin-left: 150px;

}
.im img{
    margin-top: 150px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(155, 154, 154);
    
}
p{
    margin-top: 150px;
    margin-left: 100px;
    font-size: 20px;
    color:black;
}
.box{
     margin-top: 90px;
     margin-left: 50px;
    width: 30%;
    height: 70%;
    
    
    
    padding: 20px;
    box-sizing: border-box;
    
}
.con2{
    display: flex;
    gap: 20px;
    justify-content:center;
    align-items: center;
}
.txt{
    margin-top: 350px;
    height: 150px;
    background-color:#ECEFCA;
 
    
}
.txt p{
    margin-left: 10px;
    color: rgb(125, 122, 122);
    font-size: 20px;
    padding-top: 30px;
    

}
.con4{
    height: 80px;
    background-color: #94B4C1;
    display: flex;
    justify-content: space-between;
}
.author{
    
    margin-right: 10px;
    margin-top: 5px;
}
.info{margin-left: 10px;

margin-top: 10px;}

    
